@import "../../common/colors.scss";
header {
    .header {
        overflow: hidden;
        position: fixed;
        z-index: 1;
    }
    background-color: $header;

    a{
        color: white;
        font-size: 20px;
        font-weight: 700;
        float: right;
    }
    a:hover{
        color: $hover;
    }
    .login{
        color: $login;
    }
}